@import "../base/variables";
@import "../base/extends";
@import "../base/mixins";

h3 {
  font-size: $textSize;
}

.store-header {
  background-color: $colorThree;
  width: 100%;
  display: flex;
  height: 90px;
  div {
    display: flex;
    align-items: center;
    li {
      list-style-type: none;
      i {
        color: white;
      }
    }
  }
}
#h1-store {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: $colorThree;
}

#main-store {
  margin-top: 100px;
  @include rgba(57, 62, 70, 1);
  text-align: center;
  flex: 1;
}

.add-btn {
  text-align: center;
  padding: 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);

  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

  &:after {
    content: "+";
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -30px;
    transition: 0.5s ease-out;
    color: $colorTwo;
    font-weight: 800;
    font-size: larger;
  }

  &:hover {
    padding-right: 24px;
    padding-left: 8px;
  }

  &:hover:after {
    opacity: 1;
    right: 35px;
  }

  border-radius: 40px;
  border: 3px solid #00adb5;
  @include rgba(57, 62, 70, 1);
  color: white;
  padding: 15px 40px;
  &:hover {
    background-color: $colorThree;
  }
}

#checkout-btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $colorTwo;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($colorTwo, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  border-radius: 40px;
  border: 3px solid #00adb5;
  @include rgba(57, 62, 70, 1);
  color: white;
  padding: 15px 40px;
}

.item {
  color: #eeeeee;
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    width: 75%;
    object-fit: cover;
    align-self: center;
  }
}

.item-title {
  font-size: $textSize;
}

.body-store {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include rgba(57, 62, 70, 1);
}

#items {
  justify-content: center;
}

.cart-container {
  width: 5%;
}

.total,
.extras {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.extras {
  margin-top: 10px;
}

.bs-toast {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 100;
}

.cart-head {
  background-color: $colorTwo;
  div {
    p {
      color: white;
    }
  }
}

.onCartImg {
  width: 100%;
  max-width: 75px;
  border-radius: 20px;
}

.prod {
  align-self: center;
  margin: auto;
  h3 {
    font-size: 0.938em;
    text-align: center;
  }
}

.removeBtn {
  max-width: fit-content;
  padding: 5px 20px;
  @include rgba(238, 238, 238, 0.7);
  border: 1px solid rgb(94, 94, 94);
  color: black;
  border-radius: 30px;
  &:hover {
    @include rgba(245, 78, 78, 0.9);
  }
}

#cart-btn {
  cursor: pointer;
  color: white;
  font-size: 25px;
  i {
    &:hover {
      color: $colorFour;
    }
  }
}

.items {
  ul {
    list-style-type: none;
  }
}

.remove-item,
.add-item {
  padding: 3px;
  cursor: pointer;
  &:hover {
    @include rgba(238, 238, 238, 0.2);
    border-radius: 30px;
  }
}

.me-auto {
  margin-left: 5px;
}

.toast,
.bs-toast {
  background-color: $colorThree;
  z-index: 1000;
}
