@import "../base/variables";
@import "../base/extends";
@import "../base/mixins";

header {
  li {
    @extend %links;
  }
}
#h1-store {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: $colorThree;
}

#main-store {
  margin-top: 100px;
  @include rgba(57, 62, 70, 1);
  text-align: center;
}

.add-btn {
  border-radius: 40px;
  border: 3px solid #00adb5;
  @include rgba(57, 62, 70, 1);
  color: white;
  padding: 15px 40px;
}

.item {
  color: #eeeeee;
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    width: 75%;
    object-fit: cover;
    align-self: center;
  }
}
