//Variables

$textFont: "Quicksand", sans-serif;
$titleFont: "Quicksand", sans-serif;
$titleWeight: bold;
$titleSize: 1.5rem;
$textSize: 1.25em;
$marginTitle: 10px;
$colorOne: #222831;
$colorTwo: #393e46;
$colorThree: #00adb5;
$colorFour: #eeeeee;
